/* Styling for chat container */

.chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #1877F2;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.chatbot-icon:hover{    
    transform: scale(1.1);
}

.chat-support-container {
    width: 350px;
    height: 500px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: hsl(122, 50%, 26%);
    color: white;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

#chatStatus {
    font-size: 12px;
    font-style: italic;
}

.chat-body {
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto;
    max-height: 320px;
    background-color: #f9f9f9;
}

.chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f1f1f1;
}

#chatInput {
    flex-grow: 1;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.user-message, .bot-message {
    margin: 10px 0;
    padding: 8px;
    border-radius: 5px;
}

.user-message {
    background-color: #e1f7d5;
    text-align: left;
}

.bot-message {
    background-color: #f1f1f1;
    text-align: left;
}

.bot-message .bot-name {
    font-weight: bold;
    color: #4CAF50;
}
