
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #f4f7fc;
}

.dashboard {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    height: 1000px;
    background-color: #2c3e50;
    padding: 20px;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h2 {
    text-align: center;
    font-size: 22px;
    color: #ecf0f1;
}

.menu {
    list-style: none;
}

.menu li {
    margin: 60px 0;
}

.menu li a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 18px;
    padding: 15px;
    border-radius: 8px;
    display: block;
    transition: background 0.3s;
}

.menu li a i {
    margin-right: 10px;
}

.menu li a:hover, .menu li a.active {
    background-color: #34495e;
}

.main-content {
    flex: 1;
    padding: 40px;
    background-color: #f4f7fc;
}

header {
    margin-bottom: 40px;
}

header h1 {
    font-size: 28px;
    color: #2c3e50;
}

header p {
    color: #7f8c8d;
}

.cards {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    flex: 1;
    transition: transform 0.3s;
    position: relative;
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card h3 {
    font-size: 18px;
    color: #2c3e50;
}

.card-icon {
    font-size: 30px;
    color: #3498db;
}

.card-count {
    font-size: 48px;
    font-weight: bold;
    color: #3498db;
    margin-top: 20px;
    text-align: center;
}

.card p {
    color: #7f8c8d;
} 



/* Market Insights Section */
